@page "/Customers"

@using ElectricBike.Application.Core.Services.EngineSuppliers
@using ElectricBike.Application.Core.Services.Persons
@inherits PersonsBase

@code
{
    public static readonly string PagePath = "/Customers";
}

<Spin Spinning="Loading">
    <h1>
        @Title
        <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" 
                OnClick="NewElement" Size="ButtonSize.Large" Shape="@ButtonShape.Round">
            Crear nuevo
        </Button>
    </h1>

    <span>@Description</span>

    <Table @ref="Table" DataSource="Items" TItem="PersonDto" RowClassName="@(_=>"editable-row")" OnChange="OnChange"
           Bordered TableLayout="fixed">
        <ChildContent Context="data">
            <Column TData="string" Title="Id">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    @data.Id
                }
                else
                {
                    <Input @bind-Value="EditCache[data.Id.ToString()].data.Id" />
                }
            </Column>
            <Column TData="string" Title="Nombres">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    @data.FirstName
                }
                else
                {
                    <Input @bind-Value="EditCache[data.Id.ToString()].data.FirstName" />
                }
            </Column>
            <Column TData="string" Title="Apellidos">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    @data.SureName
                }
                else
                {
                    <Input @bind-Value="EditCache[data.Id.ToString()].data.SureName" />
                }
            </Column>
            <Column TData="string" Title="Correo">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    @data.Email
                }
                else
                {
                    <Input @bind-Value="EditCache[data.Id.ToString()].data.Email" />
                }
            </Column>
            <Column TData="string" Title="Celular">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    @data.Cellphone
                }
                else
                {
                    <Input @bind-Value="EditCache[data.Id.ToString()].data.Cellphone" />
                }
            </Column>
            <Column TData="string" Title="Fecha de nacimiento">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    @data.BirthDay.ToString()
                }
                else
                {
                    <DatePicker @bind-Value="EditCache[data.Id.ToString()].data.BirthDay" />
                }
            </Column>
            <ActionColumn Title="Acciones">
                @if (!EditCache[data.Id.ToString()].edit)
                {
                    <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Edit" 
                            OnClick="()=>StartEdit(data.Id)" Size="ButtonSize.Large" Shape="@ButtonShape.Round">
                        Editar
                    </Button>
                    <Button Type="@ButtonType.Default" Danger Icon="@IconType.Outline.Delete" 
                            OnClick="()=>Delete(data)" Size="ButtonSize.Large" Shape="@ButtonShape.Round">
                        Eliminar
                    </Button>
                }
                else
                {
                    <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Edit" 
                            OnClick="()=>SaveEdit(data.Id)" Size="ButtonSize.Large" Shape="@ButtonShape.Round">
                        Guardar
                    </Button>
                    <Popconfirm Title="Esta seguro de cancelar la edición? perderá los cambios!"
                                OnConfirm="() => CancelEdit(data.Id)"
                                OkText="Si"
                                CancelText="No">
                        <Button Type="@ButtonType.Default" Danger Icon="@IconType.Outline.Delete" 
                               Size="ButtonSize.Large" Shape="@ButtonShape.Round">
                            Cancelar
                        </Button>
                    </Popconfirm>
                }
            </ActionColumn>
        </ChildContent>
    </Table>

    <Modal Title="Crear nuevo elemento"
           Visible="ModalVisible"
           OnOk="@HandleOk"
           OnCancel="HandleCancelCreation">
        <Form @ref="@Form" Loading="@Loading" Model="@NewItem" LabelColSpan="8" WrapperColSpan="16"
              OnFinish="@OnFinish" OnFinishFailed="@OnFinishFailed">
            <FormItem Label="Nombre">
                <Input @bind-Value="@context.FirstName" />
            </FormItem>
            <FormItem Label="Apellidos">
                <Input @bind-Value="@context.SureName"/>
            </FormItem>
            <FormItem Label="Correo">
                <Input @bind-Value="@context.Email"/>
            </FormItem>
            <FormItem Label="Teléfono">
                <Input @bind-Value="@context.Cellphone" />
            </FormItem>
             <FormItem Label="Fecha de nacimiento">
                <DatePicker @bind-Value="@context.BirthDay" />
            </FormItem>
        </Form>
    </Modal>
</Spin>
